@import "./base.css";

#app {
  width: 100%;
}

a,
.green {
  text-decoration: none;
  color: var(--color-enphasis-text);
  transition: 0.2s;
}

@media (hover: hover) {
  a:hover {
    color: var(--color-soft-text);
  }
}


